@model EmployeeViewModel



<div class="form-group">
    <label asp-for="Name" class="col-form-label">Employee Name</label>
    <input asp-for="Name" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="Age" class="col-form-label">Employee Age</label>
    <input asp-for="Age" class="form-control" readonly" />
</div>
<div class="form-group">
    <label asp-for="salary" class="col-form-label">Employee salary</label>
    <input asp-for="salary" class="form-control" readonly />
</div>
<div class="form-group">

    <label asp-for="Email" class="col-form-label">Employee Email</label>
    <input asp-for="Email" class="form-control" readonly />
</div>
<div class="form-group">

    <label asp-for="phoneNumber" class="col-form-label">Employee phone Number</label>
    <input asp-for="phoneNumber" class="form-control" readonly />
</div>
<div class="form-group">

    <label asp-for="HirringDate" class="col-form-label">Employee Hirring Date</label>
    <input asp-for="HirringDate" class="form-control" readonly />
</div>
<div class="form-group">

    <label asp-for="CreationDate" class="col-form-label">Employee Creation Date</label>
    <input asp-for="CreationDate" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="Address" class="col-form-label">Employee Address</label>
    <input asp-for="Address" class="form-control" readonly />
</div>