@model IdentityRole



<div class="form-group">
    <label asp-for="Id" class="col-form-label">Role Id</label>
    <input asp-for="Id" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="Name" class="col-form-label">Role name</label>
    <input asp-for="Name" class="form-control" readonly" />
</div>