@model IdentityRole



<div class="form-group">
    <label asp-for="Name" class="col-form-label">Role Name</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name"></span>
</div>
