
@model Department
@{
    ViewData["Title"] = "Create";
    
}

<h1>Create Department</h1>
<form asp-action="Create">
    <partial name="PartialViews/UpdateCreateView" />
    <input value="Submit" type="submit" class = "btn btn-primary"/>
    
    <a class="btn btn-light" asp-action="Index"> Back TO Department</a>
</form>
