@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}

<h1>ForgetPassword</h1>

<div class="main-agileinfo">
			<div class="agileits-top">
		<div asp-validation-summary="All"></div> 
		<form asp-action="SendMail">
					<input class="text email" asp-for="Email" placeholder="Email" required="">
					<div class="wthree-text">
						
						<div class="clear"> </div>
					</div>
					<input type="submit" value="Send Mail">
				</form>
		<p>Do You have an Account? <a asp-action="Register"> Register Now!</a></p>
			</div>
</div>
@section ValidationScript{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
