@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form asp-action="Login">
			<input class="text " asp-for="UserName" placeholder="User Name" required="">
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<input class="text" asp-for="PassWord" placeholder="Password" required="">
			<div class="wthree-text">
				<label class="anim">
					<input asp-for="RemmeberMe" class="checkbox" required="">
					<span>Remmeber Me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNIN">
		</form>
		<p>Don't have an Account? <a asp-action="Register"> Register Now!</a></p> 
		<p>Forget Password <a asp-action="ForgetPassword"> Reset Password Now!</a></p>
	</div>
</div>
@section ValidationScript{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}



