@model ResetPassordVieModel
@{
    ViewData["Title"] = "ResetPassWord";
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}

<h1>ResetPassWord</h1>


<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form asp-action="ResetPassWord">
			<input class="text " type="password" asp-for="Password" placeholder="New Password" required="">
			<input class="text " type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<div class="wthree-text">

				<div class="clear"> </div>
			</div>
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>
@section ValidationScript{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}